
/*
* FAKTURA
*/

h1 {
  text-align:center;
}
.atribut {
  font-weight:bold;

}
.fak_form {
  display:block;
  width:800px;
  border:1px solid black;
}

.fak_nadpis {
  text-align:left;
  text-decoration:underline;
}

.fak_majitel {
  display:block;
  float:left;
  margin-left:20px;
}

.fak_zakaznik {
  display:block;
  margin-right:120px;
  float:right;
}

.fak_objednavka {
  display:block;
  padding-top:30px;
  clear:left;
  margin-left:20px;
}

.fak_ukony {
  display:block;
  padding-left:20px;
  padding-bottom:20px;
  border-collapse:separate;
  width:780px;
}

.fak_ukony td {
  border:1px solid black;
}

.fak_ukCena {
  text-align:right;
  width:100px;
}

.fak_ukTyp {
  width:650px;
  text-align:left;
}
.fak_nadpisUk {
  padding-left:20px;
  font-weight:bold;
  display:block;
}
