/**
 * CSS Reset by  Eric Meyer
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }

/* remember to define focus styles! */
:focus { outline: 0; }

/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************************************************/
/**
 * modra1 #e1e6fa
 * modra2 #c4d7ed
 * modra3 #aac7e1
 * modra4 #365c80
 * modra5 #173051
 */

body {
  background: url(body_top_bg.png) repeat-x #e1e6fa;
  text-align: center;
  font-family: Arial, Verdana, sans-serif;
  font-size: 13px;
}
h1 {
  font-size: 17px;
  color: #173051;
}
h2 {
  font-size: 15px;
  color: #173051;
}
a {
  text-decoration: none;
  color: #365c80;
}
p {
  margin-top: 20px;
  line-height: 20px;
}
small {
  color: #999;
  font-size: 11px;
}
table td {
  padding: 10px 15px 10px 5px;
  vertical-align: middle;
}
table.list {
  width: 100%;
  margin-top: 15px;
}
table.list td, table.list th {
  padding: 5px 10px;
  text-align: center;
  border: 1px solid #e1e6fa;
}
table.list tr:nth-child(odd) {
  background: #edf0fa;
}
table.list tr:hover td{
  cursor: pointer;
  background: #FFE480;
}

table.list th {
  background: #c4d7ed;
  border: none;
  border-right: 1px solid #e1e6fa;
  color: #173051;
  font-size: 13px;
}
table.list th:first-child {
  -moz-border-radius: 7px 0 0 0;
  border-radius: 7px 0 0 0;
}
table.list th:last-child {
  -moz-border-radius: 0 7px 0 0;
  border-radius: 0 7px 0 0;
  border-right: none;
}
table tr.active td {
  background: #FFE480;
}

table.in_fieldset th {
  border: 1px solid #E1E6FA;
  background: #E1E6FA;
  padding: 4px 15px;
  font-size: 12px;
  text-align: center;
  color: #444;
}
table.in_fieldset td {
  border: 1px solid #E1E6FA;
  padding: 5px 20px;
  text-align: center;
  vertical-align: middle;
}

form, input, select {
  font-size: 15px;
}
input[type=text], input[type=password], textarea {
  width: 200px;
  height: 22px;
  padding: 2px 2px 0 2px;
  margin-right: 5px;
  border: 1px solid #d0d0d0;
}
.back_btn, .print_btn , input[type=submit] {
  display: inline-block;
  font-size: 15px;
  padding: 5px 10px;
  margin: 20px 25px 0 25px;
  border: none;
  background: #365c80;
  color: #fff;
  line-height: 20px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px #888;
  -moz-box-shadow: 0 1px 3px #888;
  box-shadow: 0 1px 3px #888;
  cursor: Pointer;
}
.print_btn {
  float: right;
  margin: -5px 10px 0 0;
}

input[type=submit] {
  font-weight: bold;
  float: right;
}
input.long {
  width: 512px;
}
textarea {
  width: 480px;
  height: 100px;
}
select {
  width: 206px;
  height: 24px;
}
fieldset {
  margin: 30px 10px 0 10px;
  padding: 15px 0 15px 15px;
  border: 2px solid #e1e6fa;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #F5F5FA;
}
legend {
  padding: 1px 5px;
  font-weight: bold;
  color: #365c80;
  font-size: 14px;
  background: #fff;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.star {
  position: absolute;
  display: inline;
  width: 8px; height: 8px;
  margin-top: -1px;
  background: url(star.png) no-repeat;
}
input[disabled], select[disabled], textarea[disabled] {
  color: black;
  background: #fff;
}

#header {
  width: 700px; height: 23px;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
}
#logo {
  width: 120px; height: 21px;
  background: url(logo.png) no-repeat;
  font-size: 0;
  color: transparent;
  margin-top: 3px;
}
#login {
  float: right;
  padding-top: 5px;
  color: #eee;
}
#login a { color: #e1e6fa; }
#login a:first-child { color: #eee; font-weight: bold; }

#menu {
  width: 690px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: left;
  background: #fff;
  -moz-border-radius: 0 0 15px 15px;
  border-radius: 0 0 15px 15px;
  font-size: 16px;
  -webkit-box-shadow: 0 0 3px #ccc;
  -moz-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}
#menu a {
  display: inline-block;
  height: 34px;
  font-weight: bold;
  margin-right: 5px;
  padding: 12px 10px 0 10px;
  color: #365c80;
}
#menu a img {
  display: inline-block;
  margin: 0 5px -4px 0;
}
#menu a.active, #menu a:hover {
  background: #ffe480;
}

#errors {
  margin:  10px auto;
  width: 600px;
  text-align: left;
}
#errors p { margin: 5px; }

#content {
  width: 690px;
  padding: 25px 15px;
  margin: 30px auto 10px auto;
  background: #fff;
  -moz-border-radius: 15px;
  border-radius: 15px;
  text-align: left;
  -webkit-box-shadow: 0 0 5px #ccc;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
}
#content.login_box {
  width: 300px;
  margin-top: 150px;
}
#content.login_box h2 {
  margin-bottom: 10px;
}
#content.login_box input[type=submit] {
  font-size: 12px;
  padding: 3px 8px;
  margin-top: 10px;
}
#content .switcher {
  float: right;
  white-space: nowrap;
}
#content .switcher a {
  padding: 7px 10px;
  margin: 0;
  background: #c4d7ed;
  color: #173051;
  border-right: 1px solid #e1e6fa;
  margin-left: -4px;
}
#content .switcher a.active {
  background: #365c80;
  color: #fff;
  font-weight: bold;
}
#content .switcher a.active:hover {
  background: #2B4966;
}
#content .switcher a:first-child {
  -moz-border-radius: 7px 0 0 7px;
  border-radius: 7px 0 0 7px;
}
#content .switcher a:last-child {
  -moz-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;
  border-right: none;
}
#content .switcher a:hover {
  background: #aac7e1;
}

.buttons_cell {
  width: 80px;
  padding: 0 10px 0 15px;
}
a.show_btn, a.edit_btn, a.delete_btn {
  display: block;
  float: left;
  width: 22px; height: 22px;
  font-size: 0;
  color: transparent;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 3px 4px 0 0;
}
a.show_btn {
  background: #365c80 url(about-inv.png) no-repeat 3px 3px;
}
a.show_btn:hover {
  background-image: url(about-inv-hover.png);
}
a.edit_btn {
  background: #365c80 url(pencil-inv.png) no-repeat 3px 3px;
}
a.edit_btn:hover {
  background-image: url(pencil-inv-hover.png);
}
a.delete_btn {
  background: #365c80 url(cancel-inv.png) no-repeat 3px 3px;
}
a.delete_btn:hover {
  background-image: url(cancel-inv-hover.png);
}
a.add_btn {
  display: inline-block;
  padding: 7px 6px 8px 25px;
  margin-top: 30px;
  font-weight: bold;
  color: #fff;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: 0 1px 3px #888;
  -moz-box-shadow: 0 1px 3px #888;
  box-shadow: 0 1px 3px #888;
  background: #365c80 url(add-inv.png) no-repeat 5px center;
}

a.imp_btn, a.exp_btn {
  margin-left:5px;
  float:right;
  padding:7px 6px 8px 7px;
  background: #365c80;
}

a.show_btn:hover,
a.edit_btn:hover,
a.delete_btn:hover,
a.add_btn:hover,
a.back_btn:hover,
input[type=submit]:hover {
  background-color: #2B4966;
}
a.show_btn:active,
a.edit_btn:active,
a.delete_btn:active,
a.add_btn:active,
a.back_btn:active,
input[type=submit]:active {
  -moz-transform: translate(0, 1px);
  -webkit-transform: translate(0, 1px);
  transform: translate(0, 1px);
}

#pagination {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  font-size: 11px;
}
#pagination a {
  display: inline-block;
  width: 18px; height: 14px;
  padding-top: 4px;
  color: #365C80;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  text-align: center;
}
#pagination a:hover {
  background: #C4D7ED;
}
#pagination a.active {
  background: #365C80;
  color: #fff;
}
#pagination a.arrow {
  background: #EDF0FA;
  margin: 0 5px;
  border: 1px solid #C4D7ED;
}

#footer {
  padding: 5px 0 10px 0;
  font-size: 11px;
}
#header a:hover, #footer a:hover {
  text-decoration: underline;
}

/*import formular */
#importForm {
  width:600px;
  text-align:right;
  float:right;
  clear:right;
  display:block;
  padding:10px;
  margin:10px 0;
  display:none;
}
#imp_btn_form {
   display:inline-block;
}
#save_btn_form  {
   display:inline-block;   
   margin:0px;
   padding:3px 9px;
   font-size:12px;
}
